{% extends 'frontend/base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">About Us...</h1>
                <p class="lead fw-normal text-white-50 mb-0">Welcome To Kawin101 Ecommerce...</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">
<br></br>
<p align="justify">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent ut facilisis velit. Cras dapibus risus non lectus venenatis, id commodo dolor vehicula. Ut ut ullamcorper dolor, vel rutrum leo. Vestibulum sem metus, iaculis nec enim eu, accumsan aliquet justo. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean eros lectus, semper vel nisi et, dapibus consequat nulla. Proin eget libero arcu.
<br></br>
Donec a lectus feugiat, luctus ante a, ornare tellus. Aliquam vitae sagittis urna. Cras sed lacus orci. Nunc rutrum accumsan eleifend. In id aliquam magna, vel dignissim mauris. Phasellus consequat, lectus in viverra dictum, mauris dolor viverra ante, quis feugiat orci urna non arcu. Nulla dapibus lectus urna, a ultrices lectus semper sed.
<br></br>
Nullam consectetur, arcu eget ultrices posuere, dui nunc dignissim nisi, nec facilisis tortor sapien non nulla. Nullam accumsan accumsan ante non tincidunt. Vivamus lacinia ac velit eu ornare. Integer est tellus, gravida id sapien et, mattis porttitor orci. Integer ac quam quis mauris pellentesque aliquet ut eu lorem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque id vestibulum urna, quis ullamcorper leo. Vestibulum condimentum non enim at sodales. Vestibulum quis aliquet ex. Praesent rutrum lacus et rhoncus hendrerit. Praesent in mollis augue. Donec et tellus ullamcorper, euismod elit eget, tincidunt sem. Donec nec consequat leo, et rhoncus lectus. Donec ullamcorper tincidunt neque consectetur suscipit. Pellentesque felis mauris, consectetur eget purus ut, sollicitudin ornare nibh
</p>
<br></br>
                </div>
            </center>
        </div>
    </div>

{% endblock %}