
{% extends 'frontend/base.html' %}

{% load static %}
{% block content %}
<style>
    .pagination {
        margin-top: 20px; /* Adjust this value as needed */
    }
</style>
        <!-- Header-->
        <header class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <!-- รูปน้องสุนัข -->
                    
                    <!-- รูปน้องสุนัข -->

                    <h1 class="display-4 fw-bolder">โรงแรมสุนัขเข้าพักได้</h1>
                    <p class="lead fw-normal text-white-50 mb-0">โรงแรมเป็นมิตรกับสุนัข เพื่อคนรักสุนัข</p>

                </div>
            </div>
        </header>
        <!-- End Header-->
        
        <!-- 
            Carousel | Autoplaying carousels 
            ม้าหมุน | เล่นภาพหมุนอัตโนมัติแบบสามารถควบคุมไปรูปภาพหน้าหลังได้
        -->
        {% comment %} <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for product in products %}
                        {% if product.image %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: 100%; object-fit: cover;">
                                <div class="carousel-caption d-none d-md-block" style="color: black;">
                                    <h5>
                                        <a href="{% url 'product' product.id %}" title="{{ product.name }}">{{ product.name }}</a>
                                    </h5>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>  
        </section> {% endcomment %}

        {% comment %} <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <!-- วนลูปทุกโรงแรมในฐานข้อมูล-->
                    {% for product in products %}
                        <!-- ตรวจสอบว่ามีรูปภาพใน product.image หรือไม่ -->
                        {% if product.image %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}"> 

                                <img src="{{ product.image.url }}" class="d-block w-100" alt="{{ product.name }}" 
                                style="max-height: 450px; max-width: 100%; object-fit: cover;">

                                <div class="carousel-caption d-none d-md-block" style="color: black;">
                                    <h5>
                                        <a href="{% url 'product' product.id %}" title="{{ product.name }}">{{ product.name }}</a>
                                    </h5>
                                </div>
                            </div>
                        {% else %}
                            <!-- ถ้าไม่มีรูปภาพใน product.image ให้ใช้ product.first_photo_url -->
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                
                                <!-- ต้นแบบ  
                                <img src="{{ product.first_photo_url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: 100%; object-fit: cover;">
                                --> 

                                <!-- แสดงรูปภาพโรงแรมจาก Google Map -->
                                {% if product.first_photo_url == "ไม่มีรูปภาพ" %}
                                    <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url เท่ากับ "ไม่มีรูปภาพ" -->
                                    <center style="color: red;">
                                        <br></br>
                                        <p>
                                            <strong>ไม่มีรูปภาพโรงแรมจาก Google Map</strong>
                                            <i class="bi bi-geo-alt"></i>
                                            <br></br>
                                            <strong>** กรุณารอ 5 วินาทีเพื่อแสดงรูปภาพโรงแรมถัดไป</strong>
                                            <br></br>
                                        </p>
                                        <br></br>
                                    </center>
                                {% else %}
                                    <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url มีรูปภาพ" -->
                                    <img src="{{ product.first_photo_url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: 100%; object-fit: cover;">
                                {% endif %}
                                
                                
                                <div class="carousel-caption d-none d-md-block" style="color: black;">
                                    <h5>
                                        <a href="{% url 'product' product.id %}" title="{{ product.name }}">{{ product.name }}</a>
                                    </h5>
                                </div>
                            </div>
                        {% endif %}
                    <!-- END วนลูปทุกโรงแรมในฐานข้อมูล-->
                    {% endfor %}
                </div>
                <!-- ตั้งค่าการเล่นอัตโนมัติ และปุ่มเลื่อน -->
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>  
        </section> {% endcomment %}
        
        <!-- 
            End Autoplaying carousels
            ม้าหมุน | เล่นภาพหมุนอัตโนมัติแบบสามารถควบคุมไปรูปภาพหน้าหลังได้ 
        -->

        <!-- จังหวัดทั้งหมด -->   
        {% comment %} <div class="container">
            <div class="d-grid gap-2 d-md-block">
                <br>
                <!-- ระยะห่างระหว่างแถวและคอลัมน์เป็นสามช่อง 
                    คุณสามารถเพิ่มคลาส mb-3 (Margin bottom) 
                    สำหรับแถวและ ms-3 (Margin start) 
                    สำหรับคอลัมน์เพื่อกำหนดระยะห่าง -->
                {% for category in categories %}
                    <a href="{% url 'searchCategory' category.id %}" class="btn btn-warning mb-3 ms-3">{{category.name}}</a>
                {% endfor %}
            </div>
        </div> {% endcomment %}
        <!-- END จังหวัดทั้งหมด -->

        <!-- ข้อมูลโรงแรม หน้าหลัก -->
        <section class="section">
            
            <div class="container">
                <div class="row">
                    
                    
                    <!-- 2 แถว ตรงกลาง ที่แสดง ข้อมูล รูปภาพ ชื่อโรงแรม จังหวัด ดูข้อมูล ถูกใจ เป็นต้น ...-->
                        <div class="col">
                            <br><br>
                            <p>**เรียงลำดับจากโรงแรมล่าสุด</p>
                            <div class="row row-cols-1 row-cols-md- row-cols-lg-3 g-4">
                                {% for product in products %}
                                <div class="col">
                                    <div class="card shadow-sm">

                                        <!-- ต้นฉบับ แสดงรูปภาพโรงแรมจาก Google Map
                                            <img src="{{product.first_photo_url}}" class="bd-placeholder-img card-img-top" width="300" height="300" alt="{{product.name}}">
                                        -->

                                        <!-- DO ****แสดงรูปภาพโรงแรมจาก Google Map และรูปภาพน้องสุนัขจากการอัพโหลดไฟล์****-->
                                        
                                        <!-- แสดงรูปภาพโรงแรมจาก Google Map -->
                                        {% comment %} {% if product.first_photo_url == "ไม่มีรูปภาพ" %}
                                            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url เท่ากับ "ไม่ทราบ" -->
                                            <center style="color: red;">
                                                <br></br>
                                                <strong>ไม่มีรูปภาพโรงแรมจาก Google Map</strong>
                                                <i class="bi bi-geo-alt"></i>
                                                <br></br>
                                            </center>
                                        {% else %}
                                            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url ไม่เท่ากับ "ไม่ทราบ" -->
                                            <img src="{{product.first_photo_url}}" class="bd-placeholder-img card-img-top" width="300" height="300" alt="{{ product.name }}">
                                        {% endif %}

                                        <!-- แสดงรูปภาพน้องสุนัขจากการอัพโหลดลงเครื่อง -->
                                        {% if product.image %} 
                                            <!-- 
                                                รูปภาพจากการอัพโหลดไฟล์ลงเครื่อง 
                                                style="max-height: 450px; max-width: 100%; object-fit: cover;" (ต้นฉบับ)
                                            -->
                                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." 
                                            style="max-height: 250px; max-width: 100%; object-fit: fit;">
                                        {% else %}
                                            <!-- ถ้าไม่มีข้อมูลใน product.image.url -->
                                            <center style="color: red;">
                                                <br></br>
                                                <i class="bi bi-x-lg"></i>
                                                <strong>ไม่มีรูปภาพน้องสุนัขจากการอัพโหลดไฟล์</strong>
                                                <br></br>
                                                <br></br>
                                            </center>
                                        {% endif %}  {% endcomment %}
                                        <!-- END แสดงรูปภาพโรงแรมจาก Google Map และรูปภาพน้องสุนัขจากการอัพโหลดไฟล์ -->

                                        <!-- 
                                            if...ถ้ามีรูปภาพน้องสุนัขจากการอัพโหลดไฟล์ ให้แสดงรูปน้องสุนัข
                                            else...แต่ถ้าไม่มีให้แสดงรูปภาพโรงแรมจาก Google Map แทน 
                                        -->
                                        <!-- ตรวจสอบว่าข้อมูลใน image ไม่ใช่ "ไม่มีข้อมูล" -->
                                        {% if product.image != "ไม่มีข้อมูล" %}
                                            <!-- รูปภาพจากการอัพโหลดไฟล์ลงเครื่อง -->
                                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="..." 
                                            style="max-height: 250px; max-width: 100%; object-fit: fit;">
                                        {% else %}
                                            <!-- แสดงรูปภาพโรงแรมจาก Google Map -->
                                            {% if product.first_photo_url == "ไม่มีรูปภาพ" %}
                                                <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url เท่ากับ "ไม่มีรูปภาพ" -->
                                                <center style="color: red;">
                                                    <br></br>
                                                    <strong>ไม่มีรูปภาพโรงแรมจาก Google Map</strong>
                                                    <i class="bi bi-geo-alt"></i>
                                                    <br></br>
                                                </center>
                                            {% else %}
                                                <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url ไม่เท่ากับ "ไม่มีรูปภาพ" -->
                                                <img src="{{product.first_photo_url}}" class="bd-placeholder-img card-img-top" width="300" height="300" alt="{{ product.name }}">
                                            {% endif %}
                                        {% endif %}
                                        <!-- 
                                            END if...ถ้ามีรูปภาพน้องสุนัขจากการอัพโหลดไฟล์ ให้แสดงรูปน้องสุนัข
                                            else...แต่ถ้าไม่มีให้แสดงรูปภาพโรงแรมจาก Google Map แทน 
                                        -->

                                        <div class="card-body">
                                            
                                            <h5 class="card-title"><a href="{% url 'product' product.id %}">{{product.name}}</a></h5>
                                            <br>
                                            <p class="card-text">{{product.address}}</p>
                                            
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href="{% url 'searchCategory' product.category_id %}" class="btn btn-warning">{{product.category}}</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a href="{% url 'product' product.id %}" class="btn btn-outline-primary">ดูข้อมูล</a>
                                                    <a href="#" class="btn btn-outline-dark"><i class="bi bi-heart-fill me-1" style="color: red;"></i>ถูกใจ</a>
                                                </div>
                                                <small class="text-muted">{{product.uploadDate}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <hr class="my-4">

                            <!-- แสดงเลขหน้าปัจจุบันและทั้งหมด-->
                            <div class="row">
                                <div class="col-md-12">
                                    <nav aria-label="Page navigation">
                                        {% if products.paginator.num_pages > 1 %}
                                            <ul class="pagination">
                                                {% for page_number in products.paginator.page_range %}
                                                    <li class="page-item {% if products.number == page_number %}active{% endif %}" aria-current="page">
                                                        {% if products.number != page_number %}
                                                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                                        {% else %}
                                                            <span class="page-link">{{ page_number }}</span>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </nav>
                                </div>
                            </div> 
                            <br></br>
                        </div>
                    <!-- 
                        END 2 แถว ตรงกลาง 
                        ที่แสดง ข้อมูล รูปภาพ 
                        ชื่อโรงแรม จังหวัด ดูข้อมูล ถูกใจ เป็นต้น ... 
                    -->
                </div><!-- end row -->
            </div><!-- end container -->

        </section>
        <!-- END ข้อมูลโรงแรม หน้าหลัก -->

{% endblock %}



{% comment %} 

    หน้าต่างเว็บไซต์ แบบ product ช่องเล็กๆ
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.first_photo_url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product Data List-->
                                {{ product.address }}
                                <br></br>

                                <a href="{% url 'searchCategory' product.category_id %}" title="">
                                    <strong>จังหวัด: {{product.category}}</strong>
                                </a>
                                <br></br>

                                {{ product.uploadDate }}
                                <br></br>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
<div class="text-center">
    <a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a>
</div>
                        </div>
                    </div>
                </div>
                {% endfor %}  
        </div>
        
    </section>
{% endcomment %}
