{% extends 'frontend/base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-primary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">กรุณาเข้าสู่ระบบ...</h1>
                <p class="lead fw-normal text-white-50 mb-0">กรุณาลงชื่อเข้าใช้ด้วยบัญชีของท่าน...</p>
            </div>
        </div>
    </header>

    <div class="container">
        <div class="row">
            <center>
                <div class="col-8">

                    <br><br>
                    {% comment %} POST = PUT คือ เพิ่มข้อมูล {% endcomment %}

                    <form method="POST" action="{% url 'login' %}">
                        {% csrf_token %}
                        <div class="mb-3">
                          <input type="text" class="form-control" name="username" placeholder="กรุณากรอก Username ของท่าน">
                        
                        </div>
                        <div class="mb-3">
                          
                          <input type="password" class="form-control" name="password" placeholder="กรุณากรอก Password ของท่าน">
                        </div>
                        <br></br>

                        <div class="form-group">
                            <div class="col-xs-12 text-center">
                                <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <small>ท่านสมัครสมาชิกแล้วหรือยัง?</small>
                                <a href="{% url 'register' %}" id="link-register" class="btn btn-link"><small>ต้องการสมัครสมาชิก</small></a>
                            </div>
                        </div>
                        
                    </form>

                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                </div>
            </center>
        </div>
    </div>

{% endblock %}