{% extends 'frontend/base.html' %}
{% block content %}


<div class="container">
    <br></br>
    <br></br>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <!-- รูปภาพจาก Google Map -->
          {% comment %} <img src="{{ product.first_photo_url }}" class="img-fluid rounded-start" alt="..."> {% endcomment %}
          
          <!-- แสดงรูปภาพโรงแรมจาก Google Map -->
          {% if product.first_photo_url == "ไม่มีรูปภาพ" %}
            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url เท่ากับ "ไม่มีรูปภาพ" -->
            <center style="color: red;">
                <br></br>
                <p>
                    <strong>ไม่มีรูปภาพโรงแรมจาก Google Map</strong>
                    <i class="bi bi-geo-alt"></i>
                    <br></br>
                </p>
                <br></br>
            </center>
          {% else %}
            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url มีรูปภาพ" -->
            <img src="{{ product.first_photo_url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: 100%; object-fit: cover;">
          {% endif %}

          <br></br>
          <!-- ตรวจสอบว่าข้อมูลใน image ไม่ใช่ "ไม่มีข้อมูล" -->
          {% if product.image != "ไม่มีข้อมูล" %}
            <!-- รูปภาพจากการอัพโหลดไฟล์ลงเครื่อง -->
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          {% else %}
              <!-- ถ้าไม่มีข้อมูลใน product.image.url -->
              <center style="color: red;">
                <br></br>
                <i class="bi bi-x-lg"></i>
                <strong>ไม่มีรูปภาพน้องสุนัขจากการอัพโหลดไฟล์</strong>
                <br></br>
                <br></br>
              </center>
          {% endif %}


        </div>
        <div class="col-md-8">
          <div class="card-body">
            
            <center>
                <br/>
                <a href="{% url 'searchCategory' product.category_id %}" class="btn btn-warning">จังหวัด: {{ product.category }}</a>
                &nbsp;
                
                <!-- ตรวจสอบตำแหน่งบนแผนที่ ว่า มีข้อมูลหรือไม่? Empty, NOT NULL, None-->
                {% if product.map_url %}
                  <a href="{{ product.map_url }}" class="btn btn-success text-white border border-white" target="_blank"><i class="bi bi-geo-alt"> Google Maps</i></a>
                {% else %}
                  <!-- ไม่มีข้อมูลตำแหน่งบนแผนที่ href="#" ให้แสดงหน้าเว็บเดิม และไม่ต้องเปิดเป็นแทบใหม่ -->
                  <a href="#" class="btn btn-success text-white border border-white"><i class="bi bi-geo-alt"> Google Maps: ไม่มีข้อมูล</i></a>
                {% endif %}
                &nbsp;
                
                {% if product.website == "ไม่ทราบ" %}
                  <!-- ไม่มีข้อมูลเว็บไซต์โรงแรม href="#" ให้แสดงหน้าเว็บเดิม และไม่ต้องเปิดเป็นแทบใหม่-->
                  <a href="#" class="btn btn-primary"><i class="bi bi-globe"></i> เว็บไซต์โรงแรม: ไม่มีข้อมูล</a>
                {% else %}
                  <a href="{{ product.website }}" class="btn btn-primary" target="_blank"><i class="bi bi-globe"></i> เว็บไซต์โรงแรม</a>
                {% endif %}
                
                <br><br/>

                <h3 class="card-title">ชื่อโรงแรม: {{ product.name }}</h3>
                <h5 class="card-text">ที่อยู่โรงแรม: {{ product.address }}</h5>
                <br/>

                <h5 class="card-text text-danger">**กรุณาติดต่อสอบถามกับทางโรงแรมก่อนเข้าพักครับ</h5>
                <br/>
                <h4 class="card-text">เบอร์โทรติดต่อ: {{ product.phone_number }}</h4>
                <!--
                <p class="card-text">{{ product.latitude }}</p>
                <p class="card-text">{{ product.longitude }}</p>
                -->
                <br/>
                
               
                <p class="card-text">วันที่: {{ product.uploadDate }}</p>
                {% comment %} <p class="card-text">รหัสโรงแรม: {{ product.id }}</p> {% endcomment %}
                
                <br/>
                <a href="{% url 'home' %}" class="btn btn-white" style="color: blue; text-decoration: underline;">กลับสู่หน้าหลัก</a>

                &nbsp;
                <button type="button" value="{{ product.id }}" class="btn btn-outline-dark" id="add-cart">
                  <i class="bi bi-heart-fill me-1" style="color: red;"></i>
                  ถูกใจ
                </button>
                
                

                {% comment %} <h5 class="card-title">ชื่อโรงแรม: {{ product.name }}</h5>
                
                <br/>
                <p class="card-text justified">ที่อยู่โรงแรม: {{ product.address }}</p>
                {{ product.phone_number }}
                <br></br>
                {{ product.latitude }}
                <br></br>
                {{ product.longitude }}
                <br></br>

                <a href="{% url 'searchCategory' product.category_id %}" title="">
                  <strong>จังหวัด: {{product.category}}</strong>
                </a>
                <br></br>

                {{ product.website }}
                <br></br>

                {{ product.uploadDate }}
                <br></br>
                
                <a href="{{ product.map_url }}"class="btn btn-primary" target="_blank">นำทาง</a>
                &nbsp;
                <a href="{% url 'home' %}" class="btn btn-secondary">กลับสู่หน้าหลัก</a> {% endcomment %}
            </center>

          </div>
        </div>
      </div>
    </div>
</div>

<!-- Add Review Form -->
<div class="container">
  <h2>เขียนรีวิวโรงแรม</h2>
  <form method="post" action="{% url 'add_review' product.id %}">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">ยืนยัน</button>
  </form>
</div>

<!-- Reviews Section -->
<div class="container">
  <h2>รีวิวโรงแรม</h2>
  {% if reviews %}
    <div class="list-group">
      {% for review in reviews %}
        <div class="list-group-item">
          <p class="mb-0">ข้อความ: {{ review.text }}</p>
          <p class="mb-0">คะแนน: {{ review.rating }}</p>
          <p class="mb-0">ผู้ใช้: {{ review.user }}</p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <p>ไม่มีข้อมูลรีวิวโรงแรม.</p>
  {% endif %}
</div>


<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

<script>
// Check if button pressed
$(document).on('click', '#add-cart', function(e){
  e.preventDefault();
  $.ajax({
      type: 'POST',
      url: '{% url 'cart_add' %}',
      data: {
          product_id: $('#add-cart').val(),
          csrfmiddlewaretoken: '{{ csrf_token }}',
          action: 'post',          
      },

      success: function(json){
          // console.log(json)
          document.getElementById("cart_quantity").
              textContent = json.qty
      },

      error: function(xhr, errmsg, err){

      },
  });
})

</script>

{% endblock %}