{% extends 'frontend/base.html' %}
{% block content %}


<div class="container">
    <br></br>
    <br></br>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <!-- รูปภาพจาก Google Map -->
          {% comment %} <img src="{{ product.first_photo_url }}" class="img-fluid rounded-start" alt="..."> {% endcomment %}
          
          <!-- แสดงรูปภาพโรงแรมจาก Google Map -->
          {% if product.first_photo_url == "ไม่มีรูปภาพ" %}
            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url เท่ากับ "ไม่มีรูปภาพ" -->
            <center style="color: red;">
                <br></br>
                <p>
                    <strong>ไม่มีรูปภาพโรงแรมจาก Google Map</strong>
                    <i class="bi bi-geo-alt"></i>
                    <br></br>
                </p>
                <br></br>
            </center>
          {% else %}
            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url มีรูปภาพ" -->
            <img src="{{ product.first_photo_url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: 100%; object-fit: cover;">
          {% endif %}

          <br></br>
          {% if product.image %}
            <!-- รูปภาพจากการอัพโหลดไฟล์ลงเครื่อง -->
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          {% else %}
              <!-- ถ้าไม่มีข้อมูลใน product.image.url -->
              <center style="color: red;">
                <br></br>
                <i class="bi bi-x-lg"></i>
                <strong>ไม่มีรูปภาพน้องสุนัขจากการอัพโหลดไฟล์</strong>
                <br></br>
                <br></br>
              </center>
          {% endif %}


        </div>
        <div class="col-md-8">
          <div class="card-body">
            
            <center>

                <h3 class="card-title">ชื่อโรงแรม: {{ product.name }}</h3>
                <br>
                
                <p class="card-text">ที่อยู่โรงแรม: {{ product.address }}</p>
                <br>

                <p class="card-text">เบอร์โทรติดต่อ: {{ product.phone_number }}</p>
                <br>

                <!--
                <p class="card-text">{{ product.latitude }}</p>
                <br>

                <p class="card-text">{{ product.longitude }}</p>
                <br>
                -->

                {% if product.website == "ไม่ทราบ" %}
                  <p>เว็บไซต์โรงแรม: ไม่ทราบ</p>
                {% else %}
                    <p>
                        <a href="{{ product.website }}" class="card-text" target="_blank">เว็บไซต์โรงแรม: {{ product.website }}</a>
                    </p>
                {% endif %}
            
                <br>
                
                <p class="card-text">วันที่: {{ product.uploadDate }}</p>
                <br>
                
                <a href="{% url 'searchCategory' product.category_id %}" class="btn btn-warning">จังหวัด: {{ product.category }}</a>
                &nbsp;
                
                <!-- ตรวจสอบตำแหน่งบนแผนที่ ว่า มีข้อมูลหรือไม่? Empty, NOT NULL, None-->
                {% if product.map_url %}
                  <a href="{{ product.map_url }}" class="btn btn-primary" target="_blank">นำทาง <i class="bi bi-geo-alt"></i></a>
                {% else %}
                  <!-- กรณีไม่มีข้อมูลใน product.map_url -->
                  <a href="#"class="btn btn-white">ไม่มีข้อมูลตำแหน่งบนแผนที่ <i class="bi bi-geo-alt"></i></a>
                {% endif %}
            
                &nbsp;

                <a href="{% url 'home' %}" class="btn btn-secondary">กลับสู่หน้าหลัก</a>

                {% comment %} <h5 class="card-title">ชื่อโรงแรม: {{ product.name }}</h5>
                
                <br/>
                <p class="card-text justified">ที่อยู่โรงแรม: {{ product.address }}</p>
                {{ product.phone_number }}
                <br></br>
                {{ product.latitude }}
                <br></br>
                {{ product.longitude }}
                <br></br>

                <a href="{% url 'searchCategory' product.category_id %}" title="">
                  <strong>จังหวัด: {{product.category}}</strong>
                </a>
                <br></br>

                {{ product.website }}
                <br></br>

                {{ product.uploadDate }}
                <br></br>
                
                <a href="{{ product.map_url }}"class="btn btn-primary" target="_blank">นำทาง</a>
                &nbsp;
                <a href="{% url 'home' %}" class="btn btn-secondary">กลับสู่หน้าหลัก</a> {% endcomment %}
            </center>

          </div>
        </div>
      </div>
    </div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

{% endblock %}