{% extends 'frontend/base.html' %}
{% block content %}


<div class="container">
    <br></br>
    <br></br>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <!-- รูปภาพจาก Google Map -->
          {% comment %} <img src="{{ product.first_photo_url }}" class="img-fluid rounded-start" alt="..."> {% endcomment %}
          
          <!-- แสดงรูปภาพโรงแรมจาก Google Map -->
          {% if product.first_photo_url == "ไม่มีรูปภาพ" %}
            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url เท่ากับ "ไม่มีรูปภาพ" -->
            <center style="color: red;">
                <br></br>
                <p>
                    <strong>ไม่มีรูปภาพโรงแรมจาก Google Map</strong>
                    <i class="bi bi-geo-alt"></i>
                    <br></br>
                </p>
                <br></br>
            </center>
          {% else %}
            <!-- ถ้าข้อมูลในตัวแปร product.first_photo_url มีรูปภาพ" -->
            <img src="{{ product.first_photo_url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: 100%; object-fit: cover;">
          {% endif %}

          <br></br>
          {% if product.image %}
            <!-- รูปภาพจากการอัพโหลดไฟล์ลงเครื่อง -->
            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="...">
          {% else %}
              <!-- ถ้าไม่มีข้อมูลใน product.image.url -->
              <center style="color: red;">
                <br></br>
                <i class="bi bi-x-lg"></i>
                <strong>ไม่มีรูปภาพน้องสุนัขจากการอัพโหลดไฟล์</strong>
                <br></br>
                <br></br>
              </center>
          {% endif %}


        </div>
        <div class="col-md-8">
          <div class="card-body">
            
            <center>
                <h5 class="card-title">{{ product.name }}</h5>
                <br/>
                <p class="card-text justified">{{ product.address }}</p>
                {{ product.phone_number }}
                <br></br>
                {{ product.latitude }}
                <br></br>
                {{ product.longitude }}
                <br></br>

                <a href="{% url 'searchCategory' product.category_id %}" title="">
                  <strong>จังหวัด: {{product.category}}</strong>
                </a>
                <br></br>
                
                {{ product.map_url }}
                <br></br>
                {{ product.website }}
                <br></br>
                {{ product.uploadDate }}
                <br></br>
                
                <a href="{% url 'home' %}" class="btn btn-primary">กลับสู่หน้าหลัก</a>
            </center>

          </div>
        </div>
      </div>
    </div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

{% endblock %}