{% extends 'frontend/base.html' %}
{% block content %}

<!-- Header-->
<header class="bg-primary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <br></br>
            <h1 class="display-4 fw-bolder">ท่านกำลังค้นหา "{{ searchAddress }}"</h1>
            <p class="lead fw-normal text-white-50 mb-0">กรุณาพิมพ์ลงในช่องค้นหาด้วยชื่อโรมแรม หรือ ที่อยู่โรงแรม เช่น ตำบล อำเภอ จังหวัด ...</p>
            <br></br>
        </div>
    </div>
</header>

<div class="container mt-5">

    <h2><strong>การค้นหามีข้อมูล "{{ productsCount }}" รายการ</strong></h2>
    <br></br>

    <div class="text-center">
        {% if searchAddress %}
            {% if products %}
                <div class="list-group">
                    {% for product in products %}

                        {% comment %} <a href="{% url 'product' product.id %}" class="alert alert-success" role="alert">{{ product }}</a> {% endcomment %}
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
                                    <div class="page-wrapper">
                                        
                                        <div class="blog-list row">
                                            <div class="col-md-12">
                                                <div class="card mb-4">
                                                    <div class="row">

                                                        <div class="col-md-3">
                                                            <div class="post-media">
                                                                <a href="#" title="">
                                                                    <img src="{{product.first_photo_url}}" alt="" class="card-img-top img-fluid img-fluid-mini">
                                                                    <div class="hovereffect"></div>
                                                                </a>
                                                            </div><!-- end media -->
                                                        </div><!-- end col -->
                        
                                                        <div class="col-md-9">
                                                            <div class="card-body">
                                                                <h4 class="card-title">
                                                                    <a href="{% url 'product' product.id %}">
                                                                        <p>
                                                                            <strong>
                                                                                <!-- ลำดับ -->
                                                                                {{forloop.counter}}.ชื่อโรงแรม: {{product.name}}
                                                                            </strong>
                                                                        </p>
                                                                    </a>
                                                                </h4>
                                                                <p class="card-text small-text">
                                                                    <strong>ที่อยู่โรงแรม: {{product.address}}</strong>
                                                                </p>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <small class="text-muted small-text">
                                                                        <a class="bg-orange" href="{% url 'searchCategory' product.category_id %}" title="">
                                                                            <strong>จังหวัด: {{product.category}}</strong>
                                                                        </a>
                                                                    </small>
                                                                    <small class="text-muted small-text">
                                                                        <strong>วันที่: {{product.uploadDate}}</strong>   
                                                                    </small>
                                                                </div>
                                                            </div><!-- end card-body -->
                                                        </div><!-- end col -->
                                                    </div><!-- end row -->
                                                </div><!-- end card -->
                                            </div><!-- end col -->
                                        </div><!-- end blog-list -->
                                    </div><!-- end page-wrapper -->
                                </div><!-- end col -->
                            </div><!-- end row -->
                        </div><!-- end container -->
                        <br></br>
                    {% endfor %}
                    <hr></hr>
                </div>
            {% else %}
                <br></br>
                <br></br>
                <br></br>

                <div class="alert alert-warning" role="alert">
                    <h1 class="mb-4">คุณกำลังค้นหา "{{ searchAddress }}" ไม่มีข้อมูลในระบบ!</h1>
                </div>
            {% endif %}
        {% else %}
            <br></br>
            <br></br>
            <br></br>

            <div class="alert alert-danger" role="alert">
                <h1 class="mb-4">กรุณาใส่ชื่อโรงแรมก่อนกดปุ่มค้นหา!</h1>
            </div>
        {% endif %}
    </div>
</div>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

{% endblock %}
