{% extends 'base.html' %}


{% block content %}
<style>
    .pagination {
        margin-top: 20px; /* Adjust this value as needed */
    }
</style>
        <!-- Header-->
        <header class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <br></br>
                    <h1 class="display-4 fw-bolder">โรงแรมสุนัขเข้าพักได้</h1>
                    <p class="lead fw-normal text-white-50 mb-0">โรงแรมเป็นมิตรกับสุนัข เพื่อคนรักสุนัข</p>
                </div>
            </div>
        </header>
        <!-- End Header-->
        
        <!-- 
            Carousel | Autoplaying carousels without controls
            ม้าหมุน | เล่นภาพหมุนอัตโนมัติโดยไม่มีการควบคุม
        -->
        <section>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for product in latest %}
                        <div class="carousel-item {% if forloop.first %}active{% endif %}">
                            <img src="{{ product.first_photo_url }}" class="d-block w-100" alt="{{ product.name }}" style="max-height: 450px; max-width: max; object-fit: cover;">
                            <div class="carousel-caption d-none d-md-block" style="color: black;">
                                <h5>
                                    <a href="{% url 'product' product.id %}" title="{{ product.name }}">{{ product.name }}</a>
                                </h5>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>  
        </section>
        <!-- End Carousel -->

        <!-- Product -->
        <section class="section">
            <div class="container">
                <div class="row">
                    
                    <!-- 2 Column at the center -->
                        <div class="col">
                            <br><br>
                            <div class="row row-cols-1 row-cols-md- row-cols-lg-2 g-4">
                                {% for product in products %}
                                <div class="col">
                                    <div class="card shadow-sm">
                                        <img src="{{product.first_photo_url}}" class="bd-placeholder-img card-img-top" width="300" height="300" alt="{{product.name}}">
                                        <div class="card-body">
                                            
                                            <h5 class="card-title"><a href="{% url 'product' product.id %}">{{product.name}}</a></h5>
                                            <br>
                                            <p class="card-text">{{product.address}}</p>
                                            
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <a href="{% url 'searchCategory' product.category_id %}" class="btn btn-warning">{{product.category}}</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a href="{% url 'product' product.id %}" class="btn btn-outline-primary">ดูข้อมูล</a>
                                                    <a href="#" class="btn btn-outline-dark"><i class="bi bi-heart-fill me-1" style="color: red;"></i>ถูกใจ</a>
                                                </div>
                            
                                                <small class="text-muted">{{product.uploadDate}}</small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            
                            <!-- แสดงเลขหน้าปัจจุบันและทั้งหมด-->
                            <div class="row">
                                <div class="col-md-12">
                                    <nav aria-label="Page navigation">
                                        {% if products.paginator.num_pages > 1 %}
                                            <ul class="pagination">
                                                {% for page_number in products.paginator.page_range %}
                                                    <li class="page-item {% if products.number == page_number %}active{% endif %}" aria-current="page">
                                                        {% if products.number != page_number %}
                                                            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
                                                        {% else %}
                                                            <span class="page-link">{{ page_number }}</span>
                                                        {% endif %}
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </nav>
                                </div>
                            </div> 

                            <hr class="my-4">
                        </div>
                    <!-- END 2 Column at the center -->

                  
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
        <!-- END Product -->

{% endblock %}



{% comment %} 

    หน้าต่างเว็บไซต์ แบบ product ช่องเล็กๆ
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shop in style</h1>
                <p class="lead fw-normal text-white-50 mb-0">With this shop homepage template</p>
            </div>
        </div>
    </header>

    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                
                {% for product in products %}
                <div class="col mb-5">
                    <div class="card h-100">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.first_photo_url }}" alt="..." />
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product Data List-->
                                {{ product.address }}
                                <br></br>

                                <a href="{% url 'searchCategory' product.category_id %}" title="">
                                    <strong>จังหวัด: {{product.category}}</strong>
                                </a>
                                <br></br>

                                {{ product.uploadDate }}
                                <br></br>
                            </div>
                        </div>
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
<div class="text-center">
    <a class="btn btn-outline-dark mt-auto" href="{% url 'product' product.id %}">View Product</a>
</div>
                        </div>
                    </div>
                </div>
                {% endfor %}  
        </div>
        
    </section>
{% endcomment %}
