{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br></br>
    <br></br>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="{{ product.first_photo_url }}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            
            <center>
                <h5 class="card-title">{{ product.name }}</h5>
                <br/>
                <p class="card-text justified">{{ product.address }}</p>
                {{ product.phone_number }}
                <br></br>
                {{ product.latitude }}
                <br></br>
                {{ product.longitude }}
                <br></br>

                <a href="{% url 'searchCategory' product.category_id %}" title="">
                  <strong>จังหวัด: {{product.category}}</strong>
                </a>
                <br></br>
                
                {{ product.map_url }}
                <br></br>
                {{ product.website }}
                <br></br>
                {{ product.uploadDate }}
                <br></br>
                
                <a href="{% url 'home' %}" class="btn btn-secondary">Home</a>
            </center>

          </div>
        </div>
      </div>
    </div>
</div>

<br></br>
<br></br>
<br></br>
<br></br>
<br></br>
<br></br>

{% endblock %}