{% extends 'base.html' %}
{% block content %}

    <!-- Header-->
    <header class="bg-primary py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">ท่านต้องการสมัครสมาชิกหรือไม่?</h1>
                <p class="lead fw-normal text-white-50 mb-0">กรุณาลงทะเบียนสำหรับบัญชีผู้ใช้ทั่วไป...</p>
            </div>
        </div>
    </header> 

    <div class="container">
        <div class="row">
                <div class="col-md-6 offset-md-3">
                    
                    <br><br>

                    {% comment %} POST = PUT คือ เพิ่มข้อมูล {% endcomment %}

                    <form method="POST" action="{% url 'register' %}">
                        {% csrf_token %}
                        
                        {{ form.as_p }}
                        <div class="form-group">
                            <div class="col-xs-12 text-life">
                                <button type="submit" class="btn btn-primary">ยืนยันการสมัครสมาชิก</button>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <small>ท่านมีบัญชีผู้ใช้งานแล้ว?</small>
                                <a href="{% url 'login' %}" id="link-register" class="btn btn-link"><small>ต้องการเข้าสู่ระบบ</small></a>
                            </div>
                        </div>
                        {% comment %} <button type="submit" class="btn btn-primary">
                        ยืนยันการสมัครสมาชิก</button> {% endcomment %}
                    </form>

                    



                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                    <br></br>
                </div>
        </div>
    </div>

{% endblock %}