
{% extends 'frontend/base.html' %}

{% load static %}
{% block content %}
<style>
    .pagination {
        margin-top: 20px; /* Adjust this value as needed */
    }
</style>
        <header class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <br></br>
                    <h1 class="display-4 fw-bolder">ปักหมุดโรงแรมที่ท่านโดนใจ</h1>
                    <p class="lead fw-normal text-white-50 mb-0">โรงแรมเป็นมิตรกับสุนัข เพื่อคนรักสุนัข</p>
                    <br></br>
                </div>
            </div>
        </header>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <br></br>


{% endblock %}
